@model GestaoBeneficios.DTO.BeneficioColaboradorDTO

@{
    ViewData["Title"] = "Benefícios por Colaborador";
}

<h2>Editar Benefício por Colaborador</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Colaborador" class="control-label"></label>
                <select asp-for="Colaborador.Id" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Pessoas,"Id","Nome"))"></select>
                <span asp-validation-for="Colaborador.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beneficio" class="control-label"></label>
                <select asp-for="Beneficio.Id" id="Beneficio" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Beneficios,"Id","Nome"))"></select>
                <span asp-validation-for="Beneficio.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a listagem</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
